
.fullcart {
    height: 100%;
    width: 100%;
    padding-top: 69px;
    display: flex;
    padding-bottom: 69px;
    flex-wrap: wrap;
    flex-direction: column;
}

.leftcart {
    height: 100%;
    width: 100%;
    padding-left: 1rem;
}

.rightcart {
    height: 100%;
    width: 100%;
    top: 0;
    margin-bottom: 10px;
}

.add {
    background-color: #09001c;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add p {
    color: rgb(231, 213, 255);
    font-family: "Protest Guerrilla", sans-serif;
    font-size: x-large;
}
@media (min-width: 818px) {
.fullcart {
        height: 100%;
        width: 100%;
        padding-top: 69px;
        display: flex;
        padding-bottom: 69px;
        flex-direction: row;
    }

    .leftcart {
        height: 100%;
        width: 50%;
    }

    .rightcart {
        height: 100%;
        width: 50%;
        top: 0;
        margin-bottom: 10px;
    }
}
@media (min-width: 1324px) {
    .fullcart {
        height: 100%;
        width: 100%;
        padding-top: 69px;
        display: flex;
        padding-bottom: 69px;
        flex-direction: row;
    }

    .leftcart {
        height: 100%;
        width: 40%;
    }

    .rightcart {
        height: 100%;
        width: 60%;
        top: 0;
        margin-bottom: 10px;
    }
}