.calculation {
    height: 350px;
    width: 90%;
    min-width: 310px;
    max-width: 360px;
    margin-top: 7rem;
    border-radius: 6px;
    padding-top: 0.3rem;
    border-left: 3px solid rgba(0, 215, 0, 0.952);
    background-color: rgba(19, 1, 1, 0.968);
    box-shadow: 0 0 10px rgba(26, 2, 2, 0.968);
    margin: auto;
    margin-top: 7rem;
}

.itemsno {
    margin-left: 5%;
    margin-top: 1.5rem;
    font-family: "Russo One", sans-serif;
    font-weight: 700;
    color: rgba(0, 215, 0, 0.952);
    cursor: pointer;
    font-size: large;
}

.totalitems {
    margin-left: 5%;
    margin-top: 4%;
    color: rgb(255, 255, 255);
}

.totalitems span {
    margin-left: 49%;

    color: rgb(255, 255, 255);
}

.discountcart {
    margin-left: 5%;
    margin-top: 4%;
    color: rgb(255, 255, 255);
}

.discountcart span {
    margin-left: 42%;
    color: rgba(254, 2, 104, 1);
}

.tax {
    margin-left: 5%;
    margin-top: 4%;
    color: rgb(255, 255, 255);
}

.tax span {
    margin-left: 56%;
    color: rgb(255, 255, 255);
}

.border {
    width: 93%;
    border: 1px solid white;
    margin-left: 5%;
    margin-top: 6%;
}

.totalamount {
    margin-left: 5%;
    margin-top: 5%;
    font-weight: 700;
    color: rgba(0, 215, 0, 0.952);
    cursor: pointer;
}

.totalamount span {
    margin-left: 43%;
    font-weight: 700;
    color: rgba(0, 215, 0, 0.952);
}

.placeorder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    height: 46px;
    width: 100%;
    border-radius: 7px;
    font-weight: 700;
    background-color: rgba(0, 215, 0, 0.952);
    border: 1px solid rgba(0, 215, 0, 0.952);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

