.eachcart {
    height: 140px;
    width: 98%;
    margin-top: 0.9rem;
    margin-left: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
background: linear-gradient(90deg, rgba(0, 230, 0, 1) 14%, rgba(21, 2, 2, 0.968) 14%);
}
.cartimage {
    width: 32%;
    height: 95.5%;
    margin:3px 3px 3px 3px;
    border-radius: 5px;
    overflow: hidden;
}

.cartimage img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.eachcart:hover img {
    transform: scale(1.1);
}

.cartdetailed {
    margin-top: 6px;
    margin-left: 3%;
    width: 80%;
}

.cartcompanyname {
    font-weight: 700;
    cursor: pointer;
    color: transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(0, 215, 0, 0.952) 7%, rgb(164, 90, 255) 69%);
    background-clip: text; 
    -webkit-background-clip: text;
    font-family: "Russo One", sans-serif;
    font-size: 1rem;
}

.cartproductname {
    width: 100%;
    font-weight: 100;
    cursor: pointer;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
}

.cartprice {
    margin-top: 0.15rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    width: 120px;
    color: transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(254, 2, 104, 1) 7%, rgb(164, 90, 255) 39%);
    background-clip: text;
    -webkit-background-clip: text;
}



.cartdiscount {
    color: rgb(164, 90, 255);
    font-weight: 300;
    cursor: pointer;
    margin-left: 8px;
}

.cartoriginalprice {
    font-weight: 300;
    text-decoration: line-through;
    cursor: pointer;
    margin-left: 8px;
    color: rgb(255, 255, 255);
}

.cartongoingprice {
    font-weight: 600;
    cursor: pointer;
    color: transparent;

    cursor: pointer;
        background-image: linear-gradient(90deg, rgba(0, 215, 0, 0.952) 17%, rgb(164, 90, 255) 69%);    background-clip: text;
    -webkit-background-clip: text;

}

.cartdate {
    margin-top: 0.3rem;
    color: #ffffff;
    font-size: 0.9rem;
}

.delete {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 0.5rem;
}

.days {
    font-weight: 700;
    color: rgb(164, 90, 255);
}

.date {
   font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0, 215, 0, 0.952);
}

.reach {
    margin-top: 0rem;
    color: #ffffff;
            font-size: 0.9rem;
}

.return {
    margin-left: 6px;
}

.deleteicon {
    width: 100%;
    height: 100%;
    color: rgba(0, 230, 0, 1);
}

.delevery{
    font-size: 0.9rem;
}



@media (min-width: 598px) {
.eachcart {
        height: 155px;
        width: 98%;
        margin-top: 0.9rem;
        margin-left: 1%;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        background: linear-gradient(90deg, rgba(0, 230, 0, 1) 14%, rgba(21, 2, 2, 0.968) 14%);
    }
}
@media (min-width: 598px) {
.eachcart {
        height: 140px;
        width: 98%;
        margin-top: 0.9rem;
        margin-left: 1%;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        background: linear-gradient(90deg, rgba(0, 230, 0, 1) 14%, rgba(21, 2, 2, 0.968) 14%);
    }
}