.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 9%;
}

.spinner {
    border: 6px solid rgb(32, 19, 46);
    border-top: 6px solid rgba(71, 6, 6, 0.873);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: spin 0.8s linear infinite;
}

.paw-icon {
    font-size: 32px;
    color: rgba(32, 1, 1, 0.873);
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}